
h1{
    font-size: 3vw;
    color: gray;
    margin-left: 5vw;
}
.input{
    display: flex;
    gap: 2vw;
    margin-left: 5vh;
   
}
.input input{
    width: 20vw;
    height: 5vh;
}
button{
    width: 10vw;
    border: none;
    background-color: grey;
    height: 5vh;
    color: white;
}
button:hover{
    color: lightgray;
    cursor: pointer;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
li{
    list-style: none;
    width: 30vw;
    height: 6vh;
    display: flex;
    align-items: center;
    gap: 1vw;
}
.checkbox {
    transform: scale(1.5);
    margin-right: 1vw; 
}


input[type="checkbox"]:checked + .checkbox-label {
    text-decoration: line-through;
    color: gray; 
}

.checkbox-label {
    font-family: 'Arial';
    font-size: 1vw; 
    font-weight: bold;
}